table{
    border-collapse: collapse;
    margin: 20px;
}

th{
    background-color: mediumpurple;
    color: white;
    border: solid 1px black;
    padding: 10px;

}

td{
    background-color: rgb(164, 151, 191);
    color: white;
    border: solid 1px black;
    padding: 10px; 
}

td:hover{
    background-color: mediumslateblue;

}

th:hover{
    background-color: rgb(233, 159, 63);
}